# This sets the default behaviour, overriding core.autocrlf
* text=auto

# Keep executable scripts with LFs so they can be run after being
# checked out on Windows
*.py text eol=lf
*.js text eol=lf

*.bat text eol=crlf
